body {
  background-color: #e3d3ba;
}

nav {
  background-color: #333;
  padding: 10px;
  color: darkslategrey;
  font-family: Arial, sans-serif;
}

nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  list-style: none;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #eee5cf;
  text-decoration: none;
}

form {
  display: grid;
  grid-template-columns: 120px auto;
  grid-gap: 41px;
}

label {
  display: flex;
  flex-direction: column;
}

label > h6 {
  margin-bottom: 5px;
}

.container {
  text-align: center;
  color: darkslategrey;
  font-family: Arial, sans-serif;
  border-radius: 4px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 20px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #5f9ea0;
  color: #eee5cf;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  z-index: -1;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  display: inline-block;
  padding: 10px 16px;
  background-color: #c53e3e;
  color: #eee5cf;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.top-right a:hover {
  background-color: #756036;
}

.bottom-right {
  position: fixed;
  bottom: 8px;
  right: 16px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #5f9ea0;
  color: #eee5cf;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: #5f9ea0;
  border-radius: 20px;
  font-size: larger;
  color: #eee5cf;
  z-index: 1;
  transform: translate(-50%, -4%);
  text-align: center;
}

.detalhes-img {
  width: 75%;
  height: auto;
}

.index-img {
  width: 40%;
  height: auto;
}

.addSale-img {
  width: 50%;
  height: auto;
}

.up-center a {
  padding: 20px;
}

.centered a:hover {
  background-color: #756036;
}

/* Nav Bar */
.up-center {
  left: 50%;
  top: 10%;
  display: inline-block;
  padding: 8px 16px;
  background-color: #317567;
  color: #eee5cf
  border-radius: 20px;
}

.up-center a:hover {
  background-color: #756036;
}

.userimage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 30%;
  width: 30%;
  display: flex;
  align-items: center;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
  color: #eee5cf;
}

.userimage img {
  margin: 0;
}










.centered {
  text-align: center;
  margin-top: 50px;
}

.centered h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.index-img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.centered p {
  margin-bottom: 5px;
}















.container {
  text-align: center;
  margin-top: 50px;
}

.centered h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.centered p {
  font-size: 18px;
  margin-bottom: 20px;
}

.index-img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #333;
  color: #eee5cf;
}


table td {
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ccc;
}

td a {
  color: #228c7b;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}
