<!DOCTYPE html>
{% extends "leiloaoapp/template.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiloao</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="centered">
        <h1>Criar nova Sale</h1>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form action="{% url 'leiloaoapp:adicionarSale' %}" method="post" enctype="multipart/form-data">            {% csrf_token %}
            {% csrf_token %}
            {{ form.as_p }}

            <label for="title">Título:</label><br>
            <input type="text" id="title" name="title"><br>

            <label for="description">Descrição:</label><br>
            <input type="text" id="description" name="description"><br>

            <label for="initialAsk">Valor Inicial:</label><br>
            <input type="number" id="initialAsk" name="initialAsk"><br>

            <label for="bidStartDate">Data Início:</label><br>
            <input type="datetime-local" id="bidStartDate" name="bidStartDate"><br>

            <label for="bidEndDate">Data Fim:</label><br>
            <input type="datetime-local" id="bidEndDate" name="bidEndDate"><br>

            <div class="form-group">
                <label for="image">Imagem:</label>
                <input type="file" id="image" name="multiuploader_file">
            </div>
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>