<!DOCTYPE html>
{% extends "leiloaoapp/template.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiloao</title>
    {% load static %}
</head>
<body>
{% block content %}
<div class="container">
    <div class="centered">
        <h1>Criar nova Sale</h1>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form id="myForm" action="{% url 'leiloaoapp:adicionarSale' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}


                <label for="title">Título:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Insira o título da venda"
                       required>

                <label for="description">Descrição:</label>
                <textarea class="form-control" id="description" name="description" rows="3"
                          placeholder="Insira a descrição da venda" required></textarea>

                <label for="initialAsk">Valor Inicial:</label>
                <input type="number" class="form-control" id="initialAsk" name="initialAsk"
                       placeholder="Insira o valor inicial da venda" required>

                <label for="bidStartDate">Data Início:</label>
                <input type="datetime-local" class="form-control" id="bidStartDate" name="bidStartDate" required>

                <label for="bidEndDate">Data Fim:</label>
                <input type="datetime-local" class="form-control" id="bidEndDate" name="bidEndDate" required>

                <label for="image-input">Image Input</label>

                <input type="file" id="image-input" accept="image/*" name="image">

                <label for="image-preview">Preview</label>
                <img id="image-preview" class="addSale-img" src="{% static 'leiloaoapp/images/default_sale_image.png' %}" alt="Preview image">
                <button type="submit" class="btn btn-primary" disabled>Guardar</button>
        </form>

        <script>
            const form = document.getElementById('myForm');
            const submitButton = form.querySelector('button[type="submit"]');

            form.addEventListener('input', () => {
                const fields = form.querySelectorAll('input[required], textarea[required]');
                const isFilled = [...fields].every(field => field.value.trim() !== '');

                submitButton.disabled = !isFilled;
            });

            const bidValueInput = document.getElementById('initialAsk');
            bidValueInput.addEventListener('input', function () {
                const value = bidValueInput.value;
                if (value && !/^(\d{0,8}(\.\d{0,2})?)?$/.test(value)) {
                    bidValueInput.value = value.slice(0, -1);
                }
            });

            function previewImage(event) {
                var input = event.target;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var preview = document.getElementById('image-preview');
                        preview.src = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            var fileInput = document.getElementById('image-input');
            fileInput.addEventListener('change', previewImage);
        </script>

    </div>
</div>
{% endblock %}
</body>
</html>