<!DOCTYPE html>
{% extends "leiloaoapp/template.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiloao - Índice</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="centered">
        <h1>Bem-vindo ao Leiloao</h1>
        {% if user.is_authenticated %}
        <p>Escolha uma das opções abaixo para continuar:</p>
        <ul>
            <li><a href="{% url 'leiloaoapp:myBid' %}">Minhas Bids</a></li>
            <li><a href="{% url 'leiloaoapp:mySale' %}">Minhas Sales</a></li>
            <li><a href="{% url 'leiloaoapp:adicionarSale' %}">Adicionar Sales</a></li>
            <li><a href="{% url 'leiloaoapp:perfil' %}">Perfil</a></li>
        </ul>
        {% else %}
        <p>Faça Login ou registe-se para começar</p>
        {% endif %}
    </div>
</div>
{% endblock %}
</body>
</html>
