<!DOCTYPE html>
{% extends "leiloaoapp/template.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiloao - Índice</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="centered">
        <h1>Bem-vindo ao Leiloao</h1>
        {% if user.is_authenticated %}

        {% else %}
        <p>Faça Login ou registe-se para começar</p>
        {% endif %}
        <br>
        {% if sales_list %}
        <p>Sales Atuais</p>
        <form action="{% url 'leiloaoapp:getSales' %}" method="get">
        </form>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Current Bid</th>
            </tr>
            </thead>
            <tbody>
            {% for sale in sales_list %}
            <tr>
                <td>{{ sale.title|default:"N/A" }}</td>
                <td>{{ sale.description|default:"N/A" }}</td>
                <td>{{ sale.currentHighestBid|default:"N/A" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No sales found.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
</body>
</html>
