<!DOCTYPE html>
{% extends "leiloaoapp/template.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiloao - Login</title>
</head>
<body>
{% block content %}
<div class="container">
  <div class="centered">
    <h1>Login</h1>
    <form action="{%url 'leiloaoapp:login_view' %}" method="POST">
      {% csrf_token %}
      <label>
        <h6>Utilizador</h6>
        <input type="text" name="username" >
      </label>
      <label>
        <h6>Palavra-passe</h6>
        <input type="password" name="password" >
      </label>
      <button type="submit"> Iniciar sessão</button>
    </form>
  </div>
</div>
{% endblock %}
</body>
</html>
