<!DOCTYPE html>
{% extends "leiloaoapp/template.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiloao - Minhas Bids</title>
    {% load static %}
</head>
<body>
{% block content %}
<div class="container">
    <div class="centered">
        <h1>As Minhas Bids</h1>
        {% if user.is_authenticated %}
        {% else %}
        <p>Faça Login ou registe-se para começar</p>

        {% endif %}
        <br>
        {% if bid_list %}
        <form action="{% url 'leiloaoapp:myBid' %}" method="get">
        </form>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Bid Atual</th>
                <th>Seller</th>
                <th>Termina Em</th>
            </tr>
            </thead>
            <tbody>
            {% for bid in bid_list %}
            <tr>
                <td>
                    <a href="{% url 'leiloaoapp:detalhe' bid.id %}">
                        {{ bid.sale.title|default:"" }}
                    </a>
                </td>
                <td>{{ bid.value|default:"0" }}€</td>
                <td>{{ bid.sale.seller.name }}</td>
                <td>{{ bid.sale.bidEndDate|default:"" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Não foram encontradas Bids.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
</body>
</html>
