<!DOCTYPE html>
{% extends "leiloaoapp/template.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiloao - Minhas Bids</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="centered">
        <h1>As Minhas Bids</h1>
        {% if user.is_authenticated %}
        {% else %}
        <p>Faça Login ou registe-se para começar</p>
        {% endif %}
        <br>
        {% if bid_list %}
        <ul>
            {% for bid in bid_list %}
            <li>{{ bid.sale.title }} - Valor: {{ bid.value }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Não há nenhuma bid disponível.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
</body>
</html>
