<!DOCTYPE html>
{% extends "leiloaoapp/template.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiloao - Registo</title>
    {% load static %}
</head>
<body>
{% block content %}
<div class="container">
    <div class="centered">
       <form action="{% url 'leiloaoapp:registar' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>
                <h6>Utilizador</h6>
                <input type="text" name="username">
            </label>
            <label>
                <h6>Palavra-passe</h6>
                <input type="password" name="password">
            </label>
            <label>
                <h6>Email</h6>
                <input type="text" name="email">
                <label>
                    <h6>Primeiro Nome</h6>
                    <input type="text" name="primeiro_nome">
                </label>
                <label>
                    <h6>Ultimo Nome</h6>
                    <input type="text" name="ultimo_nome">
                </label>
                <label>
                    <h6>Imagem (16:9)</h6>
                    <input type="file" name="image" accept="image/*" id="image-input">
                    <img id="image-preview" src="{% static 'leiloaoapp/images/default_user_img.png' %}" alt="Preview image">
                </label>
                <br>
                <button type="submit"> Registar</button>
            </label>
        </form>
        <form method="POST" action="{% url 'leiloaoapp:registar' %}">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    </div>
</div>
<script>
function previewImage(event) {
  var input = event.target;
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      var preview = document.getElementById('image-preview');
      preview.src = e.target.result;
    }
    reader.readAsDataURL(input.files[0]);
  }
}
var fileInput = document.getElementById('image-input');
fileInput.addEventListener('change', previewImage);
</script>
{% endblock %}
</body>
</html>





