<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leiloao</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'leiloaoapp/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Verifica se o usuário está autenticado
            var isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};

            // Obtém a referência ao elemento de texto de login/logout
            var loginLogoutText = $('.top-right a');

            // Adiciona a classe CSS com base na autenticação do usuário
            if (isAuthenticated) {
                loginLogoutText.addClass('logout-text');
            } else {
                loginLogoutText.addClass('login-text');
            }
        });
    </script>
</head>
<body>
<div class="container">
    <div class="top-left">
        <h3>Bem-vindo(a)</h3>
        {% if user.is_authenticated %}
            {% if user.appuser.image_path %}
                <div class="userimage">
                    <img src="{{ MEDIA_URL }}{{ user.appuser.image_path }}" alt="">
                </div>
            {% endif %}
        {% endif %}
        <span class="username">{{ user.appuser.name }}</span>
    </div>
    <div class="up-center">
        <p>
            <a href="{% url 'leiloaoapp:index' %}">Início</a>

            {% if user.is_authenticated %}
                <a href="{% url 'leiloaoapp:myBid' %}">Minhas Bids</a>
                <a href="{% url 'leiloaoapp:mySale' %}">Minhas Sales</a>
                <a href="{% url 'leiloaoapp:adicionarSale' %}">Adicionar Sales</a>
                <a href="{% url 'leiloaoapp:watchlist' %}">Watchlist</a>
                <a href="{% url 'leiloaoapp:perfil' %}">Perfil</a>
                {% if user.is_superuser %}
                    <a href="{% url 'leiloaoapp:userManagement' %}">Gestão de Utilizadores</a>
                {% endif %}
            {% else %}
                <a href="{% url 'leiloaoapp:registar' %}">Registar</a>
            {% endif %}
        </p>
    </div>
    <div class="centered">
        <!-- Zone that will be different on each page, the rest remains the same -->
        {% block content %}
            <p>Zone that will be different on each page, the rest remains the same</p>
        {% endblock %}
    </div>
    <div class="top-right">
        {% if user.is_authenticated %}
            <a href="{% url 'leiloaoapp:logout_view' %}">Logout</a>
        {% else %}
            <a href="{% url 'leiloaoapp:login_view' %}">Login</a>
        {% endif %}
    </div>
    <div class="bottom-right">
        <p>Leilão online</p>
        <p>DIAM - ISCTE</p>
    </div>
</div>
{% load static %}
<script src="{% static 'leiloaoapp/js/earthtones.js' %}"></script>
</body>
</html>

