<!DOCTYPE html>
{% extends "leiloaoapp/template.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leiloao - Watchlist</title>
    {% load static %}
</head>
<body>
{% block content %}
<div class="container">
    <div class="centered">
        <h1>A Minha Watchlist</h1>
        {% if request.user.is_authenticated and request.user.appuser %}
        {% else %}
        <p>Faça Login ou registe-se para começar</p>
        {% endif %}
        <br>
        {% if watchlist %}
        <form action="{% url 'leiloaoapp:watchlist' %}" method="get">
        </form>
        <table>
            <thead>
            <tr>
                <th>Título</th>
                <th>Bid Atual</th>
                <th>Colocada Por</th>
                <th>Termina Em</th>
                <th>Imagem</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in watchlist %}

            <tr>
                <td>
                    <a href="{% url 'leiloaoapp:detalhe' item.sale.id %}">
                        {{ item.sale.title|default:" " }}</a>
                </td>
                <td>{{ item.sale.currentHighestBid.value|default:"0" }}€</td>
                <td>{{ item.sale.currentHighestBid.bidder.name|default:" " }}</td>

                <td>{{ item.sale.bidEndDate|default:" " }}</td>
                <td>
                    <img src="{% static 'leiloaoapp/images/'|add:item.sale.image_path %}" class="index-img" alt="No image available">
                </td>
                <td>
                    <a href="{% url 'leiloaoapp:removeFromWatchlist' item.id %}">
                        Remover
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Não foram encontradas Sales.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
</body>
</html>
